---

---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>{{ site.title }}</title>
</head>

<body>
    {% include header.html %}
    <div id="page-container">
        <div id="content-wrap">
            <section>
             <!--   <h2>Coming Soon!</h2>
                <p>I will be using this site to post new Data Science projects<br>
                    Looking forward to exploring different datasets, methods, ideas and discovering strange new worlds!
                </p> -->
                {% for post in site.categories.posts limit: 3 %}
                    <p class="meta">{{ post.date | date: "%B %Y"  }}</p>
                    {{ post.content }}
                <!-- <ul>
                    <a href="{{post.url}}">
                        <h1>{{ post.title }}</h1>
                    </a>
                    <p class="meta">{{ post.date | date_to_string }}</p>
                    <div class="post">
                        {{ post.content }}
                    </div>
                </ul> -->
                {% endfor %}
            </section>
        </div>
        {% include footer.html %}

    </div>
</body>

</html>