
body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: black;
    font-size: medium;
}
h1 {
    color: black;
    font-size: medium;
}
nav {
    float: right;
    margin: 0 1.5%;
}
header {
    background-color:salmon;
    height: 100px;
    padding-top: 30px;
    margin: 0 1.5%;
}
section {
    float: left;
    width: 60%;
    margin: 0 1.5%;
}
aside {
    float: right;
    width: 30%;
    margin: 0 1.5%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 60px;
    margin-bottom: 20px;
    background-color: salmon;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 1.5%;

}