
body {
    background-color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 60px;
    /* padding-bottom: 60px; */
    margin: 0 auto;
    min-width: 980px;
    text-align: justify;
    /* width: 80vw; */
    /* overflow: auto; */
    /* min-height: 100vh; */
    /* background-color: bisque; */
}

#page-container {
    position: relative;
    min-height: 100vh;
    width: 980px;
    /* overflow: auto; */
    /* width: 1000px; */
    /* min-width: 100vw; */
    
  }
  
#content-wrap {
    padding-bottom: 40px;
    /* margin-bottom: 60px; */
  }

p {
    color: black;
    font-size: medium;
}
h1 {
    color: black;
    font-size: medium;
}
#header {
    position: absolute;
    background-color:salmon;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    /* padding-bottom: 10px; */
    /* margin: 0 1.5%; */
}
#header h1{
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
}
/*header ul {
    position: absolute;
    top: 0;
    width: 95%;
    float: right;
    /* display: flex; 
    text-align: right;
    font-size: large;
    list-style-type: none;
    /* font-weight: 200;
    overflow: auto;
    word-spacing: 5px;
    margin: 0;
    padding-top: 15px; */
/* } */
#nav-bar ul a:hover {
    background-color:salmon;
    color:blue;
}
#header a {
    text-decoration: none;
    color: black;
}
#nav-bar {
    position: absolute;
    right: 0;
    bottom: 10px;
    /* float: right; */
    height: 40px;
    width: 30%;
    background-color:salmon;
    /* margin: 0 1.5%;*/
    font-size: large;
    font-weight: 200;
    padding-right: 10px;
    /* font-style: initial; */
    margin: 0 2%;
    word-spacing: 5px;
}
section {
    float: center;
    width: 85vw;
    /* margin-right: 20px; */
    margin-left: 60px;
    /* display:inline-block; */
    background-color:white;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* aside {
    float: left;
    width: 5%;
    background-color: rgb(158, 145, 127);
    height: 100vh;
    /* margin: 0 1.5%;
} */


#footer {
    position: absolute;
    bottom: 0;
    width: 1080px;
    height: 40px;
    clear: both;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    background-color:whitesmoke;
    padding-bottom: 10px;
    /* padding-top: 5px; */
    padding-left: 100px;
    /* margin: 0 1.5%; */

}
#social-media-list{
    display: inline-block;
    margin-right: 1em;
    font-size: 150%;
    list-style: none;

}
ion-icon {
    font-size: 40px;
    color:salmon;
}

/* .social-media-list li a{
    color: #888;
    transition: color 0.5s;
}
.logo-twitter :hover{
    color: rgb(29, 172, 117);
} */

/* .infinite-spinner {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #333;
    margin: 60px auto;
    
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }
@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}
  
@keyframes scaleout {
    0% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
} */