
body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 60px;
    margin: 0;
    /* overflow: scroll; */
    /* min-height: 100vh; */
    /* background-color: bisque; */
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 60px;
  }

p {
    color: black;
    font-size: medium;
}
h1 {
    color: black;
    font-size: medium;
}
header {
    position: fixed;
    background-color:salmon;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    /* margin: 0 1.5%; */
}
header h1{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 40%;
}
header ul {
    position: fixed;;
    top: 0;
    width: 95%;
    float: right;
    /* display: flex; */
    text-align: right;
    font-size: large;
    list-style-type: none;
    /* font-weight: 200; */
    overflow: auto;
    word-spacing: 5px;
    margin: 0;
    padding-top: 15px;
}
ul a:hover {
    background-color:salmon;
    color:blue;
}
header a {
    text-decoration: none;
    color: black;
}
/* nav {
    /* position: relative;
    float: right;
    height: 40px;
    width: 100%;
    background-color:salmon;
} */
    /* margin: 0 1.5%;
    font-size: large;
    font-weight: 200;
    padding-right: 40px;
    font-style: initial;
    margin: 0 1.5%; */
/* } */
section {
    float: left;
    width: 75%;
    margin: 0 1.5%;
}
aside {
    float: right;
    width: 15%;
    /* margin: 0 1.5%; */
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    clear: both;
    top: auto;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    background-color: rgb(167, 163, 162);
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 200px;
    /* margin: 0 1.5%; */

}
.infinite-spinner {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #333;
    margin: 60px auto;
    
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }
@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}
  
@keyframes scaleout {
    0% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}