body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 60px;
    margin: 0;
    height: 100%;
    /* min-width: 980px; */
    /* min-width: 80vw; */
    /* text-align: justify; */
}

#page-container {
    position: relative;
    display: block;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#content-wrap {
    padding-bottom: 60px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 60px;
    overflow: hidden;
    min-height: 100vh;
}

p {
    color: black;
    font-size: large;
}

h1 {
    color: black;
    font-size: medium;
}

#header {
    position: absolute;
    background-color:lightseagreen;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
}

#header h3 {
    padding-left: 4vw;
    /* padding-top: 10px; */
    padding-bottom: 30px;
    width: 40vw;
    font-size: large;
    word-spacing: 5px;
}
#header a {
    text-decoration: none;
    color: black;
}
#header a:hover{
    /* background-color: lightseagreen; */
    color:blue;
}

#nav-bar ul a:hover {
    background-color:lightseagreen;
    color: blue;
}

#nav-bar {
    position: absolute;
    display: block;
    float: left;
    text-align: center;
    font-size: 20px;
    right: 0;
    /* top: 5px; */
    /* bottom: 5px; */
    bottom: 0;
    height: 60px;
    width: 60vw;
    background-color:lightseagreen;
    font-size: large;
    /* font-weight: 200; */
    padding-right: 5px;
    margin-right: 0;
    /* margin: 0 2%; */
    word-spacing: 5px;
}

section {
    position: relative;
    display: block;
    /* text-align: justify; */
    /* margin: 60px; */
    width: 60vw;
    /* margin-left: 2.5vw; */
    /* margin-right:15px; */
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px; */
    /* word-spacing: 5px; */
    word-break: keep-all;
}
img[src*='#center'] { 
    display: block;
    margin: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 80vw;
    height: 60px;
    clear: both;
    background-color: whitesmoke;
    padding-bottom: 10px;
    padding-left: 20vw;
}

#about-me {
    /* padding-left: 40px; */
    font-size: large;
}

#social-media-list {
    display: inline;
    /* font-size: 150%; */
    list-style: none;
}

#social-media-list ul>li {
    /* display: inline-block; */
    list-style: none;
    *display: inline;
    padding-right: 20px;
    /* margin-left: 0px; */
    /* padding-left: 0px; */
}

#social-media-list ul li a {
    text-decoration: none;
}

ion-icon {
    font-size: 40px;
    color:lightseagreen;
}

@media screen and (max-width: 600px) {
    html{
        overflow-x: hidden;
        height: 100%;
    }
    body{
        height: 100%;
        position: relative;
    }

    #page-container {
        min-height: 100vh;
        position: relative;
        display: block;
        overflow: hidden;
        /* padding-bottom: 60px; */

    }
    
    #content-wrap {
        position: relative;
        padding-bottom: 60px;
        display: block;
        /* overflow: hidden; */
        margin-left: 2vw;
        margin-right: 2vw;
        min-height: 100vh;
        /* min-width: 100vw; */
        /* margin-bottom: 60px; */
    }
    #nav-bar.responsive {
        position: relative;
    }
    #nav-bar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #nav-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    section {
        position: relative;
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        width: 95vw;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 60px;
    }
    img {
        width: auto ;
        max-width: 100% ;
        height: auto ;
      }
    #footer {
        position: absolute;
        bottom: 0;
        width: 95vw;
        height: 60px;
        clear: both;
        background-color: whitesmoke;
        /* padding-bottom: 10px; */
        padding-left: 5vw;
    }
}