<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
    <header>
        <h1>{{ page.title }}</h1>
        <nav>
            <!-- <ul> -->
                <a href="/">Home</a>
                <a href="about.html">About</a>
                <a href="/">Projects</a>
                <a href="/">CV</a>
                <a href="/">Contact</a>
            <!-- </ul> -->
        </nav>
    </header>
    <section>
        {{ content }}
    <aside>
        <!-- {{ content }} -->
    </aside>
    </body>

    <footer>
        <p>Wesley Kirui. &copy; 2020. All rights reserved.</p>
    </footer>
</html>
