<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <!-- <title>{{ page.title }}</title> -->
    </head>
    <body>
    <header>
        <h1><a href="/">DATA SCIENCE JOURNEY</a></h1>
        <!-- <h1>{{ page.title }}</h1> -->
        <nav>
            <ul>
                <!-- <a href="/">Home</a> -->
                <a href="about.html">About Me</a>
                <a href="/">Projects</a>
                <a href="/wesley_kirui_cv.pdf" target="_blank">CV</a>
                <a href="/">Contacts</a>
            </ul>
        </nav>
    </header>
    <section>
        {{ content }}
    </section>
    </body>

    <footer>
        <p>Wesley Kirui. &copy; 2020. All rights reserved.</p>
    </footer>
</html>
